<div class="formulaire">
<div class="over">
<form accept-charset="UTF-8" action="https://formkeep.com/f/5b845acd6ff8" method="POST" id="myForm">

    <div class="contest-header">
      <div class="container contest-container">
      <div class="row">
        <div class="intro-and-ticket">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 contest-intro">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
              <div class="contest-title">
                CONCOURS
              </div>
            </div>
            <div class="col-xs-12">
              <div class="win-a-trip ">
                <span class= "nowrap torn-paper-text">Gagnez 1 voyage au Japon,</span>
              </div>
              <div class="col-md-10 col-md-offset-1">
                <div class="disclaimer-bis">
                  <span>Des mangas et des bons d'achat</span>
                  <br>
                  <span class="nowrap">pour le <span class="underline-text"><%= link_to "concept store J-One", "http://store.j-one.fr/", target: "_blank"%></span></span>
                </div>            
              </div>
            </div>
            <div class="col-sm-1 col-xs-12 ticket-image-xs"><%= image_tag('dots.png')%></div>
          </div>
          <div class="col-sm-1 col-xs-12 ticket-image hidden-xs"><%= image_tag('dots.png')%></div>
        </div>

      </div>

      <div class="row second-part">
        <div class="contest-body col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
          <div class="col-md-10 col-md-offset-1 instruction">
            <span class="instruction-text">Pour gagner, répondez à la question suivante :</span>
          </div>
          <div class="question-text-xs">
              <i>Comment s'appelle le magazine de pop culture connecté au Japon présenté par Marie ?</i>
            </div>
          <div class="col-md-10 col-md-offset-1 question-div hidden-xs">
            <span class="question-text">Comment s'appelle le magazine de pop culture</span><br><span class="question-text">connecté au Japon présenté par Marie ?</span>
          </div>
          <div class="japanese-girl-image"><%= image_tag('japanese-girl.png')%></div>
          <div class="col-md-10 col-md-offset-1 answers">
            <div class="radio">
              <label><input type="radio" name="answer" value="Le Nyûsu show" required>Le Nyûsu show</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="answer" value="Le JT Sensei">Le JT Sensei</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="answer" value="Le petitu jornalu">Le petitu jornalu</label>
            </div>
          </div>


          <div class="col-md-12 col-lg-10 col-lg-offset-1 form-sections">
          <div class="form-instruction">
            Remplissez les champs suivants :
          </div>
          <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label" >Nom</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputName" name="nom" required=true>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputFirst" class="col-sm-2 col-form-label">Prénom</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputFirst" name="prénom" required=true>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputDate" class="col-sm-4 col-form-label">Date de naissance</label>
            <div class="col-sm-8">
              <input type="date" class="form-control" id="inputDate" name="date de naissance" placeholder="jj/mm/aaaa" required=true>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputMail" class="col-sm-2 col-form-label">Mail</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputMail" name="email" required=true>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputAddress" class="col-sm-2 col-form-label">Adresse</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputAddress" name="adresse" required=true>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputZip" class="col-sm-3 col-form-label">Code Postal</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputZip" name="code postal" required=true>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="autorisation j-one" value="true"> J'accepte de recevoir les infos de J-ONE par email
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <div class="form-check test-circle">
                  <input class="test-circle" type="checkbox"  name="autoridation canal" value="true"> J'accepte de recevoir les infos de CANAL par email
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-8 col-sm-offset-2">
              <button type="submit" class="btn btn-block btn-send" id="submitbutton" disabled=true><strong>ENVOYER</strong></button>
            </div>
          </div>

        </div>
        <div class="col-md-12 col-lg-10 col-lg-offset-1 reglement">
          Règlement
        </div> 




        </div>
        
         
      </div>

       <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 link-to-canal-black canal-link-text">
          <span class="">Pour profiter de tous les programmes J-ONE c’est <%= link_to 'ICI', 'http://www.lesoffrescanal.fr/canalsat-panorama', target: '_blank'%></span>
        </div>
      </div>


      </div>        <!-- container -->
      <div class="half-vertical-spacer"></div>
 
    </div> <!-- contest header -->

  </form>  


  
</div>
  
</div>

<script>zip = $('#inputZip');
  first_name = $('#inputFirst');
  last_name = $('#inputName');
  birthday = $('#inputDate');
  mail = $('#inputMail');
  address =  $('#inputAddress');
  button = $('#submitbutton');


  // function checkinputs() {
  //   return zip.val() == "" || first_name.val() == "" last_name.val() == "" || birthday.val() == "" || mail.val() == "" || address.val() == "";
  // }

function emptyInputs()   {
  return ((zip.val() == "") || (first_name.val() == "") || (last_name.val() == "") || (birthday.val() == "") || (mail.val() == "") || (address.val() == ""));
}


$("input").focusout(function() {
  button.prop("disabled",emptyInputs());
  console.log(emptyInputs());
});




$("input[name=answer]").change(function(){
  button.prop("disabled",emptyInputs());
  console.log("focusIn " + " "+ emptyInputs());
});









  </script>
